a.hide-link(data-toggle='modal', data-target='#resume-modal', data-modal-data=vol, data-panel-type='info')
    .panel.panel-info.panel-hover
        .panel-heading
            h3.panel-title= vol.title
        .panel-body
            if vol.company
                p
                    strong= vol.company
                if vol.start
                    p.text-dimmed
                        em #{vol.start} - #{vol.end}
