// MAIN
main.col-sm-height.content

    .wrapper-inner

        // summary
        section#profile.well.content__profile
            h3= strings.headings.profile
            blockquote !{profile.summary}
                p.read-more



        // current position
        section#current-position.well
            h3= strings.headings.current
            .row.row-with-padding

                 if experiences.length > 1
                    each exp,index in experiences
                        .col-md-6
                            include panels/panel-current-experience
                 else
                    each exp,index in experiences
                        .col-md-12
                            include panels/panel-current-experience



        // experience
        section#experience.well
            h3= strings.headings.experience
            .row.row-with-padding
                each exp,index in experiences
                    .col-md-6
                        include panels/panel-experience



        // education
        section#education.well
            h3= strings.headings.education
            .row.row-with-padding

                if educations.length > 1
                    each edu,index in educations
                        .col-md-6
                            include panels/panel-education



        // projects
        section#projects.well
            h3= strings.headings.projects
            .row.row-with-padding

                if projects.length > 1
                    each project,index in projects
                        .col-md-6
                            include panels/panel-project



        // volounteer work
        section#volounteering.well
            h3= strings.headings.volounteering
            .row.row-with-padding
                if volounteerings.length > 1

                    each vol,index in volounteerings
                        .col-md-6
                            include panels/panel-volounteering
                else
                    each vol,index in volounteerings
                        .col-md-12
                            include panels/panel-volounteering