a(data-toggle='modal', data-target='#resume-modal', data-modal-data=item, data-panel-type='success')
    .panel.panel-success.panel-hover
        .panel-heading
            h3.panel-title= item.title
        .panel-body
            if item.company
                p
                    strong= item.company.name
                if item.start
                    p.text-dimmed
                        if item.end
                            em #{moment(item.start).format('MMMM YYYY')} - #{moment(item.end).format('MMMM YYYY')}
                        else
                            em #{moment(item.start).format('MMMM YYYY')} -