if isAdmin
    a.resume-component(data-component-type='project', data-component-data=projects_raw[index])
        .panel.panel-warning.panel-hover
            .panel-heading
                h3.panel-title= project.title
            .panel-body
                if project.start
                    p.text-dimmed
                        em= moment(project.start).format('MMMM YYYY')
                        |  -
                        if (project.end)
                            em= moment(project.end).format('MMMM YYYY')
else
    a(data-toggle='modal', data-target='#resume-modal', data-modal-data=project, data-panel-type='warning')
        .panel.panel-warning.panel-hover
            .panel-heading
                h3.panel-title= project.title
            .panel-body
                if project.start
                    p.text-dimmed
                        em= moment(project.start).format('MMMM YYYY')
                        |  -
                        if (project.end)
                            em= moment(project.end).format('MMMM YYYY')