.admin-element
    div(class='panel panel-' + color)
        .panel-heading
            h3.panel-title= item ? item.title.da : 'Nyt element'
        .panel-body
            form(id= item ? item._id : '', data-section='education')
                .row
                    .col-xs-6
                        .form-group
                            label Titel
                            input.resume-form-field.form-control(data-prop="title.da", value= item ? item.title.da : '')
                    .col-xs-6
                        .form-group
                            label Title
                            input.resume-form-field.form-control(data-prop="title.en", value= item ? item.title.en : '')
                .row
                    .col-xs-6
                        .form-group
                            label Virksomhed
                            input.resume-form-field.form-control(data-prop="company.name.da", value= item ? item.company.name.da : '')

                    .col-xs-6
                        .form-group
                            label Company
                            input.resume-form-field.form-control(data-prop="company.name.en", value= item ? item.company.name.da : '')
                .row
                    .col-xs-6
                        .form-group
                            label Kurser
                            br
                            textarea.resume-form-field.form-control(data-prop="courses.da", rows=12)
                                each c in item.courses.da
                                    | !{c}

                    .col-xs-6
                        .form-group
                            label Subjects
                            br
                            textarea.resume-form-field.form-control(data-prop="courses.en", rows=12)
                                each c in item.courses.en
                                    | !{c}

                .well
                    .row
                        .col-xs-4
                            .form-group
                                label Start
                                input.resume-form-field.form-control(type="date", data-prop="start", value=moment( item ? item.start : '' ).format('YYYY-MM-DD'))
                        .col-xs-4
                            .form-group
                                label End
                                input.resume-form-field.form-control(type="date", data-prop="end", value=moment( item ? item.end : '' ).format('YYYY-MM-DD'))
                        .col-xs-4
                            .form-group
                                label Rating
                                input.resume-form-field.form-control(type="number", min=1, max=5, data-prop="rating", value= item ? item.rating : '')
                    .row
                        .col-xs-6
                            .form-group
                                label Logo
                                input.resume-form-field.form-control(data-prop="company.logo", value= item ? item.company.logo : '')
                        .col-xs-6
                            .form-group
                                label Link
                                input.resume-form-field.form-control(data-prop="company.link", value= item ? item.company.link : '')

                .btn-toolbar
                    button.btn.btn-success.btn-admin-save(type='button') Gem
                    button.btn.btn-warning.btn-admin-delete(type='button')
                        span.glyphicon.glyphicon-remove
                        | Slet
