.panel.panel-primary
    .panel-heading
        h3.panel-title= item.title.da
    .panel-body
        .row
            .col-xs-6
                .form-group
                    label Titel
                    input.admin-experience-title.form-control(data-prop="title.da", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.title.da)
            .col-xs-6
                .form-group
                    label Title
                    input.admin-experience-title.form-control(data-prop="title.en", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.title.en)
        .row
            .col-xs-6
                .form-group
                    label Virksomhed
                    input.admin-experience-company.form-control(data-prop="company.name.da", data-type="resume-form-field",  data-section="experience", data-id=item._id, value=item.company.name.da)

            .col-xs-6
                .form-group
                    label Company
                    input.admin-experience-company.form-control(data-prop="company.name.en", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.company.name.en)

        .row
            .col-xs-6
                .form-group
                    label Sted
                    input.admin-experience-locality.form-control(data-prop="locality.da", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.locality.da)
            .col-xs-6
                .form-group
                    label Locality
                    input.admin-experience-locality.form-control(data-prop="locality.en", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.locality.da)

        .row
            .col-xs-6
                .form-group
                    label Beskrivelse
                    .admin-experience-description(contentEditable, data-prop="description.da", data-type="resume-form-field", data-section="experience", data-id=item._id)= item.description.da

            .col-xs-6
                .form-group
                    label Description
                    .admin-experience-description(contentEditable, data-prop="description.en", data-type="resume-form-field", data-section="experience", data-id=item._id)= item.description.en

        .well
            .row
                .col-xs-4
                    .form-group
                        label Start
                        input.admin-experience-date.form-control(type="date", data-prop="start", data-type="resume-form-field", data-section="experience", data-id=item._id, value=moment(item.start).format('YYYY-MM-DD'))
                .col-xs-4
                    .form-group
                        label End
                        input.admin-experience-date.form-control(type="date", data-prop="end", data-type="resume-form-field", data-section="experience", data-id=item._id, value=moment(item.end   ).format('YYYY-MM-DD'))
                .col-xs-4
                    .checkbox
                        label
                            input(type='checkbox', checked=item.currentPosition, data-prop="currentPosition", data-type="resume-form-field", data-section="experience")
                            |  Nuværende job
                .col-xs-12
                    .form-group
                        label Logo
                        input.admin-experience-logo.form-control(data-prop="company.logo", data-type="resume-form-field", data-section="experience", data-id=item._id, value=item.company.logo)

        button.btn.btn-success.btn-admin-save(type='button', data-id=item._id, data-section='experience')= strings.buttons.save.da

