.admin-element
    div(class='panel panel-' + color)
        .panel-heading
            h3.panel-title= item ? item.title.da : 'Nyt element'
        .panel-body
            form(id= item ? item._id : '', data-section='experience')
                .row
                    .col-xs-6
                        .form-group
                            label Titel
                                input.resume-form-field.form-control(data-prop="title.da", value= item ? item.title.da : '')
                    .col-xs-6
                        .form-group
                            label Title
                                input.resume-form-field.form-control(data-prop="title.en", value= item ? item.title.en : '')
                .row
                    .col-xs-6
                        .form-group
                            label Virksomhed
                                input.resume-form-field.form-control(data-prop="company.name.da", value= item ? item.company.name.da : '')

                    .col-xs-6
                        .form-group
                            label Company
                            input.resume-form-field.form-control(data-prop="company.name.en", value= item ? item.company.name.en : '')

                .row
                    .col-xs-6
                        .form-group
                            label Sted
                            input.resume-form-field.form-control(data-prop="locality.da", value= item ? item.locality.da : '')
                    .col-xs-6
                        .form-group
                            label Locality
                            input.resume-form-field.form-control(data-prop="locality.en", value= item ? item.locality.da : '')

                .row
                    .col-xs-6
                        .form-group
                            label Beskrivelse
                            .resume-form-field(contentEditable="", data-prop="description.da")= item ? item.description.da : 'Beskrivelse her...'

                    .col-xs-6
                        .form-group
                            label Description
                            .resume-form-field(contentEditable="", data-prop="description.en")= item ? item.description.en : 'Please describe...'

                .well
                    .row
                        .col-xs-4
                            .form-group
                                label Start
                                input.resume-form-field.form-control(type="date", data-prop="start", value=moment( item ? item.start : '' ).format('YYYY-MM-DD'))
                        .col-xs-4
                            .form-group
                                label End
                                input.resume-form-field.form-control(type="date", data-prop="end", value=moment( item ? item.end : '' ).format('YYYY-MM-DD'))
                        .col-xs-4
                            .checkbox
                                label
                                    input.resume-form-field(type='checkbox', checked= item ? item.currentPosition : '', data-prop="currentPosition")
                                    |  Nuværende job
                        .col-xs-12
                            .form-group
                                label Logo
                                input.resume-form-field.form-control(data-prop="company.logo", value= item ? item.company.logo : '')

                .btn-toolbar
                    button.btn.btn-success.btn-admin-save(type='button') Gem
                    button.btn.btn-danger.btn-admin-delete(type='button')
                        span.glyphicon.glyphicon-remove
                        | Slet