.well
    .row
        .col-xs-6
            .form-group
                label Titel
                input.admin-project-title.form-control(data-prop="title.da", data-type="resume-form-field", data-section="project", data-id=item._id, value=item.title.da)
        .col-xs-6
            .form-group
                label Title
                input.admin-project-title.form-control(data-prop="title.en", data-type="resume-form-field", data-section="project", data-id=item._id, value=item.title.en)
    .row
        .col-xs-6
            .form-group
                label Virksomhed
                input.admin-project-company.form-control(data-prop="company.name.da", data-type="resume-form-field", data-section="project", data-id=item._id, value=item.company.name.da)

        .col-xs-6
            .form-group
                label Company
                input.admin-project-company.form-control(data-prop="company.name.en", data-type="resume-form-field", data-section="project", data-id=item._id, value=item.company.name.en)

    .row
        .col-xs-6
            .form-group
                label Beskrivelse
                .admin-project-description(contentEditable, data-prop="description.da", data-type="resume-form-field", data-section="project", data-id=item._id)= item.description.da

        .col-xs-6
            .form-group
                label Description
                .admin-project-description(contentEditable, data-prop="description.en", data-type="resume-form-field", data-section="project", data-id=item._id)= item.description.en

    .well
        .row
            .col-xs-4
                .form-group
                    label Start
                    input.admin-project-date.form-control(type="date", data-prop="start", data-type="resume-form-field", data-section="project", data-id=item._id, value=moment(item.start).format('YYYY-MM-DD'))
            .col-xs-4
                .form-group
                    label End
                    input.admin-project-date.form-control(type="date", data-prop="end", data-type="resume-form-field", data-section="project", data-id=item._id, value=moment(item.end   ).format('YYYY-MM-DD'))
            .col-xs-4
                .form-group
                    label Logo
                    input.admin-project-logo.form-control(data-prop="company.logo", data-type="resume-form-field", data-section="project", data-id=item._id, value=item.company.logo)

    button.btn.btn-success.btn-admin-save(type='button', data-section="project", data-id=item._id)= strings.buttons.save.da